.channel-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.channel-list-title {
    color: #85c742;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
}

.channels {
    background-color: white;
    border: 1px solid #D6E0EA;
    border-radius: 5px;
    height: 100%;
    overflow: auto;
    width: 100%;
}

.channel {
    align-items: center;
    /* border-top: 1px solid #D6E0EA; */
    display: flex;
}

.channel-add {
    background-color: #f3f5f8;
    border: none;
    padding: 10px;
}

.channel-add:hover {
    cursor: pointer;
}

.channel-add-icon {
    height: 36px;
    width: 36px;
}

.channel-button {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #061726;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 10px;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}

.channel-button:hover {
    background-color: #85c742;
    cursor: pointer;
}