.highlight {
    align-items: start;
    color: white;
    display: flex;
    background-color: #75a54b;
    border-radius: 0.5rem;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    min-width: 90px;
    padding: 5px 10px;
    width: 75px;
}

.highlight-value {
    font-family: monospace;
    font-size: 20px;
}

.highlight-description {
    font-size: 12px;
}