.stream-activity {
    width: 100%;
    height: 100%;
}

.stream-activity-header {
    text-align: left;
    background-color: rgba(6,23,38,1);
    border-bottom: 1px solid #495a6a;
    height: 19px;
    padding: 10px 20px;
}

.stream-activity-title {
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.stream-activity-list {
    overflow-y: auto;
    height: calc(100vh - 84px - 40px - 179px);
}