/* .modal-chat {
    align-items: center;
    background-color: red;
    color: black;
    display: flex;
    height: 50%;
    justify-content: center;
    opacity: 1;
    width: 50%;
}

.modal-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
} */

.chat-toggle {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
}

.chat-toggle-label {
    color: white;
    font-family: sans-serif;
    padding-right: 10px;
}

.chat-command {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
}

.chat-command-input {
    border: none;
    border-radius: 34px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 16px;
    outline: none;
    padding: 5px 10px 5px 10px;
    text-align: right;
    width: 100%;
}

.chat-command-label {
    color: white;
    height: 29px;
}

.chat-command-input {
    border: none;
    border-radius: 34px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 16px;
    outline: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.chat-interval {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
}

.chat-interval-input {
    border: none;
    border-radius: 34px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 16px;
    outline: none;
    padding: 5px 10px 5px 10px;
    text-align: right;
}

.chat-interval-input-zero::placeholder {
    text-align: center;
}

.chat-interval-input-value::placeholder {
    color: black;
    opacity: 1;
    text-align: center;
}

.chat-interval-label {
    color: white;
    font-family: sans-serif;
    padding-right: 10px;
}

.chat-options {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stream-chat-message {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: start;
    width: 100%;
}

.stream-chat-message-error {
  border: 1px solid red;
  box-sizing: border-box;
  color: red;
  font-family: monospace;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.stream-chat-message-label {
    padding: 5px 0px;
    /* width: 50%; */
}

.stream-chat-message-modal {
    align-items: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.stream-chat-message-textarea {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 16px;
    outline: none;
    padding: 10px;
    resize: none;
    width: 100%;
}

.stream-chat-message-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.stream-chat-message-title-right {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chat-toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.chat-toggle-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.chat-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #495a6a;
  -webkit-transition: .4s;
  transition: .4s;
}

.chat-toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .chat-toggle-slider {
  background-color: #85c742;
}

input:checked + .chat-toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.chat-toggle-slider.round {
  border-radius: 34px;
}

.chat-toggle-slider.round:before {
  border-radius: 50%;
}

.chat-toggle-check-container {
  display: block;
  position: relative;
  padding-left: 16px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chat-toggle-check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.chat-toggle-check {
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #495a6a;
}

.chat-toggle-check-container:hover input ~ .chat-toggle-check {
  background-color: #495a6a;
}

.chat-toggle-check-container input:checked ~ .chat-toggle-check {
  background-color: #85c742;
}

.chat-toggle-check:after {
  content: "";
  position: absolute;
  display: none;
}

.chat-toggle-check-container input:checked ~ .chat-toggle-check:after {
  display: block;
}

.chat-toggle-check-container .chat-toggle-check:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.chat-toggle-check-label {
  padding-right: 5px;
}

.choose-file {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.choose-file-button-box {
  min-width: 100px;
  width: 100px;
}

.choose-file-button {
    background-color: #85c742;
    border: none;
    border-radius: 5px;
    color: #061726;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    /* width: 200px; */
    width: 100%;
}

.choose-file-path {
    overflow: scroll;
    margin-left: 5px;
    white-space: nowrap;
}

