#Dashboard {
    align-items: center;
    background-color: #000312;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 62px;
    justify-content: center;
    padding: 10px 0px;
    width: 100%;
}

.header-left {
    width: 20%;
}

.header-right {
    width: 20%;
}

.main {
    border-bottom: 1px solid #495a6a;
    border-top: 1px solid #495a6a;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 83px - 179px);
    justify-content: space-between;
    width: 100%;
}

.main-left {
    border-right: 1px solid #495a6a;
    width: 30%;
    height: 100%;
}

.main-right {
    width: 70%;
    height: 100%;
}

.modal {
    background-color: white;
    color: red;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.highlights {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    width: 60%;
}
