#SignIn {
    align-items: center;
    background-color: #f3f5f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.add-channel-description {
    font-family: sans-serif;
    font-size: 12px;
    padding-bottom: 5px;
}

.add-channel-error {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 5px;
}

.signin-input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    width: 50%;
}

.signin-input-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.signin-input {
    border-bottom: 2px solid #D6E0EA;
    border-left: 2px solid #D6E0EA;
    border-right: none;
    border-top: 2px solid #D6E0EA;
    border-radius: 10rem 0rem 0rem 10rem;
    background-color: white;
    color: #061726;
    outline: none;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 0;
    padding-top: 0.5rem;
    width: 70%;
}

.signin-button {
    background-color: #85c742;
    border: none;
    border-radius: 0rem 10rem 10rem 0rem;
    color: #061726;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    width: 20%;
}

.signin-button:hover {
    background-color: #77b23b;
}

.signin-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 50%;
}

.signin-show {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 2px solid #D6E0EA;
    border-left: none;
    border-right: 2px solid #D6E0EA;
    border-top: 2px solid #D6E0EA;
    color: #061726;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    width: 10%;
}

.signin-show-icon {
    height: 16px;
    width: 16px;
}

.signin-label {
    color: #061726;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    justify-content: center;
    padding: 5px;
    text-transform: uppercase;
    width: 100%;
}

.signin-header {
    align-items: center;
    color: #061726;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: bold;
    height: 10%;
    justify-content: center;
    margin: 20px;
    text-align: center;
}

.signin-footer {
    align-items: center;
    color: #061726;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: bold;
    height: 10%;
    justify-content: center;
    margin: 20px;
    text-align: center;
}

.signin-title-text {
    font-size: 20px;
    margin: 0;
}
.signin-title-subtext {
    font-size: 12px;
    margin: 0;
}